.divstandard
{
<<<<<<< HEAD
    margin: 100px 50px 0% 20%;
=======
    margin: 100px 0% 50px 20%;
>>>>>>> 09c1c9dec86d75722ea75f300ae148b348238bb0
    width: 60%;
}
.cardProduit
{
    margin-bottom: 50px;
}

/* Css for page product */
img#slide {
    height: 500px;
}
.lining_form{
    margin: 0;
}
