.divstandard
{
    margin: 100px 0% 50px 20%;
    width: 60%;
}
.cardProduit
{
    margin-bottom: 50px;
}

/* Css for page product */
img#slide {
    height: 500px;
}
.lining_form{
    margin: 0;
}
.title_section{
    margin: 2vh 20px;
}